{% extends 'base.html.twig' %}

{% block body %}
	<div id="idMenuNav">
		<nav class="navbar">
			<ul>
				<a id="linkHome">LOGO</a>

				<!--LIENS-->

				<a class="linkNav" href="/">ACCUEIL</a>
                <a class="linkNav" href="">BIENS</a>
				{% if is_granted('ROLE_OWNER') %}
                <a class="linkNav" href="/locataire">LOCATAIRES</a>
				{% endif %}
				{% if is_granted('ROLE_OWNER') %}
                <a class="linkNav" href="/mandataire">MANDATAIRES</a>
				{% endif %}
			</ul>
            <ul>
				<a class="linkNav" href=""><i class="fas fa-user-circle"></i>Mon profil</a>
			</ul>
		</nav>
	</div>
{% endblock %}