{% extends 'base.html.twig' %}

{% block body %}
	<div id="idMenuNav">
		<nav class="navbar">
			<ul>
				<a id="linkHome">LOGO</a>

				<!--LIENS-->

				<a class="linkNav" href="#" >ACCUEIL</a>
			</ul>
            <ul>
				<a class="linkNav" href=""><i class="fas fa-user-circle"></i>Mon profil</a>
			</ul>
		</nav>
	</div>
{% endblock %}